<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Ciao, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Esci</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Registrati</a>
        <a href="Identity/Account/Login">Accedi</a>
    </NotAuthorized>
</AuthorizeView>
